<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="container">
    <div class="container-inner">
      <a id="back-to-top" href="javascript:;"><i class="icon" id="icon-angle-up"></i></a>
      <div class="credit">
        <h1 class="logo-wrap">
          <a href="http://amzn.to/1KiS8lM" class="logo"></a>
        </h1>
        <p>&copy; <%= date(new Date(), 'YYYY') %> <a href="http://www.amazon.com/Servant-of-%D7%99%D7%94%D7%95%D7%94/e/B00TA7XY20"><%= config.author || config.title %></p></a>
      </div>
    </div>
  </div>
</footer>
